.vs/
**/.vs/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

**/bin/
**/obj/
**/Debug/
**/Release/

TestResults/

**/packages/*
!**/packages/build/
!**/packages/repositories.config
*.nupkg

.vscode/
.idea/

